<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
            <li><img src="https://media.giphy.com/media/7lsw8RenVcjCM/giphy.gif" alt="kitty"></li>
            <li><a href="#">Link3</a></li>
            <li><a href="#">Link4</a></li>
        </ul>
    </nav>
    <section>
        <video autoplay muted loop id="myVideo">
            <source src="https://cdn.discordapp.com/attachments/554617325077266432/580442692350377995/nyan.mp4"
            type="video/mp4">
        </video>
        <div class="overlay">
            <p>Accessibility, provide equal access and equal opportunity to</p>
        </div>
        <div class="overlay">
            <p>people with disabilities</p>
        </div>
    </section>
    <main>
        <img src="http://placekitten.com/200/300" alt="kitten">
        <img src="http://placekitten.com/200/300" alt="kitten">
        <img src="http://placekitten.com/200/300" alt="kitten">
        <img src="http://placekitten.com/200/300" alt="kitten">
        <img src="http://placekitten.com/200/300" alt="kitten">
        <img src="http://placekitten.com/200/300" alt="kitten">
        <img src="http://placekitten.com/200/300" alt="kitten">
        <img src="http://placekitten.com/200/300" alt="kitten">
    </main>
    <footer>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </footer>
</body>
</html>