<!DOCTYPE html>
<html lang="en">

<!-- make a large contailer and containers in it. the size of the master container should be bigger than the viewport.-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout exercise</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <aside>
        <nav>
            <ul>
                <li><a href="#">Start</a></li>
                <div class="line"></div>
                <li><a href="#">Offer</a></li>
                <div class="line"></div>
                <li><a href="#">About</a></li>
                <div class="line"></div>
                <li><a href="#">Contact</a></li>
                <div class="line"></div>
            </ul>
        </nav>
    </aside>

    <div>
        <main>

        </main>
        <section>

        </section>
        <section>

        </section>
        <footer>

        </footer>
    </div>
    
</body>
</html>